<footer class="Newfooter">

<form method="get" id="search" action="https://duckduckgo.com/">
  <input type="hidden" name="sites" value="kaa.bz"/>
  <input type="hidden" name="kj" value="#053ef4"/>
  <input type="hidden" name="k8" value="#3b3b3b"/>
  <input type="hidden" name="k9" value="#053ef4"/>
  <input type="hidden" name="kn" value="1"/>
  <input type="hidden" name="kt" value="Merriweather"/>
  <input type="text" name="q" maxlength="255" placeholder="Search Here" />
  <input type="submit" value="DuckDuckGo Search" style="visibility: hidden; margin: 0;" />
</form>

<nav class="NavFooter">
<ul>
<li><a href="/">Home</a></li>
  <li><a href="/archive">Archive</a></li> 
<li><a href="/about">About</a></li>
  <li><a href="/photo">Photo</a></li>
  
  <!--<li>
  <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch"></label>
</div>
  </li>
  <li><a href="https://xn--sr8hvo.ws/🔟/previous">←</a> ⦿ <a href="https://xn--sr8hvo.ws/🔟/next">→</a></li>-->
  </ul>
</nav>

<section class="AboutFooter">
<p>Online since 2004. <br>
  Scattered. Across the internet. <br>
  This is my online stream. <br>
 <!-- — <em>Khaled Abou Alfa</em><br>-->
  
</p>
<!--
<ul class="External">
	<li><a href="http://www.kaa.bz"><img alt="KAA" src="http://www.kaa.bz/_images/KAA@3x.png"></a></li>
	<li class="MoonRacket"><a href="http://www.moonracket.com"><img alt="Moon Racket" src="http://www.kaa.bz/_images/Moonracket@3x.png"></a></li>
	<li><a href="http://micro.blog/kaa"><img alt="micro.blog/kaa" src="http://www.kaa.bz/_images/Microblog@3x.png"></a></li>
	<li><a href="http://dribbble.com/kaa"><img alt="Dribbble" src="http://www.kaa.bz/_images/Dribbble@3x.png"></a></li>
	<li><a href="http://instagram.com/kaa.pow"><img alt="Instagram" src="http://www.kaa.bz/_images/Instagram@3x.png"></a></li>
</ul>
-->
  <p class="NewCopyright">© Khaled Abou Alfa</p>
 <p class="SmallPrint">
  <a href="https://www.kaa.bz/feed.xml">RSS</a> / <a href="http://kaa.micro.blog">Micro.blog</a> / <a href="https://pinboard.in/u:kaa/public/">Pinboard</a> / <a href="https://dribbble.com/kaa">Dribbble</a>
  </p>
<link rel="webmention" href="https://webmention.io/kaa.bz/webmention" />
<link rel="pingback" href="https://webmention.io/kaa.bz/xmlrpc" />
      
      </section>  
  
</footer>